{% extends 'base.html' %}
{% block content %}
  <div class="container py-5">
    {% include 'posts/includes/switcher.html' %}
    <h1>
      Привет, меня зовут
      <a class="link-info" style="color: lightblue" href="{% url 'posts:profile' username='Ferdinand' %}">
        Антон
      </a>
    </h1>
    <p class="text-center">
      Тут я размещу информацию о себе, используя свои умения верстать.
      <br>
        Картинки, блоки, элементы бутстрап.
      <br>
      А может быть, просто напишу несколько абзацев текста.
    </p>
  </div>
{% endblock %} 